(
    positions: [
        (0., 0., 0.),
        (10., 20., 0.),
        (20., 20., 0.),
        (50., 50., 0.),
        (120., 120., 0.),
        (142., 56., 0.),
        (25., 132., 0.),
        (123., 7., 0.),
        (-61., 149., 0.),
        (-96., -52., 0.),
        (69., -189., 0.),
    ],
    foliage_positions: [
        (0., 0., 0.),
        (7., 14., 0.),
        (22., 14., 0.),
        (56., 14., 0.),
        (189., 14., 0.),
        (200., 14., 0.),
        (-200., 100., 0.),
        (-10., 250., 0.),
    ]  
)
